#getStarted {
  padding: 5rem 0;
  background-color: var(--primary-bg);
}

#getStarted .title {
  font-size: 4rem;
  width: 80%;
  font-weight: bold;
}

#getStarted .info {
  font-size: 2rem;
  width: 60%;
  margin: 2rem 0;
}

#getStarted .getStartedBtn {
  padding: 1.2rem 3rem;
  font-size: 1.6rem;
  border-radius: 1.5rem;
  border: none;
  background-color: rgb(255, 180, 41);
}
