#team {
  margin: 10rem 0;
}

#team .title {
  font-size: clamp(3rem, 5vw, 5.6rem);
}

#team .content .teamGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 1rem 0;
}

#team .content .member {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
